
.instruction-container {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


p {
    font-size: 12px;
}

i{
    color: #767676;
}