

.instruction-container button {
    padding: 0;
    border-radius: 5px;
    background-color: transparent;
    color: #747bff;
    font-size: 12px;
}

.instruction-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 1em 1.5em;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    position: relative;
}

.instruction-container .button-container {
    border-top: 2px solid #f1f1f1;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5em 0;
}

.not-completed {
    background-color: black;
}

.completed {
    background-color: #69c282;
}
.expanded {
    border-bottom-color: var(--border-color);
}

.instruction-content {
    padding: 1em 1.5em;
}

p {
    font-size: 12px;
}

i{
    color: #767676;
}