.form-content label {
    font-size: 14px;
    font-weight: 500;
    color: #9C9C9C;
}

.form-content input{
    background-color: #f9f9f9;
}

.form-content > *{
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
}

.form-content i{
    color: var(--app-color);
}

.form-content button {
    padding: 0.5em;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid var(--app-color);
    color: var(--app-color);
}
.form-content button:hover{
    background-color: #71DD9310;
    transition: background-color 0.5s ease-out;
}