
@media (max-width: 440px) {
    .run-scenario-progress{
        display: none;
    }
}

.run-scenario-spinner {
    rotate: 50deg;
    animation: -rotate 1s linear infinite;
}

@keyframes -rotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}