
.review-icon {
    background-color: rgba(43, 236, 140, 0.13);
    width: clamp(25px, 4vw, 35px);
    height: clamp(25px, 4vw, 35px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease;
}



.review-icon:hover {
    transform: rotate(360deg);
}

.chevron {
    transition: transform 0.4s ease;
}

.spin {
    transform: rotate(-180deg);
}

.review-container {
    box-shadow: 0 4px 8px 1px #eeeeee; /* Glow effect */
    border: 2px solid transparent;
    cursor: pointer;
}

.edit-button {
    color: black;
    font-size: clamp(10px, 2vw, 0.8em);
    background-color: #f1f1f1;
    padding: 2px 10px;
}