#root {
}
.main-layout {
    display: flex;
    overflow: hidden; /* Prevent main-layout from overflowing */
    color: var(--text-color)
}
.app-container {
    display: flex;
    flex-direction: column; /* Stacks navbar and main content vertically */
    height: 100vh; /* Full viewport height */
}

.content-area {
    flex: 1;
    padding: 5em 7em;
    overflow-y: auto; /* Allows scrolling if content is long */
}


@media (min-width: 900px) {
    .progress-bar {
        display: none;
    }
    .navbar {
        display: none;
    }
}

@media (max-width: 900px) {
    .content-area {
        padding: 3em 3em;
    }

    .sidebar{
        display: none;
    }

    .progress-bar{
        display: block;
    }

    .navbar {
        display: block;
    }
}




