#root {
}
.main-layout {
    flex: 1;
    overflow: hidden; /* Prevent main-layout from overflowing */
}
.app-container {
    display: flex;
    flex-direction: column; /* Stacks Navbar and main content vertically */
    height: 100vh; /* Full viewport height */
}