:root {
  font-family: Haffer,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --border-color: #CFCFCF;
  --blue: #7979d2;
  --app-color: #71DD93;

  --text-color: #1c1b18;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures consistent box-sizing */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--app-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}


button:focus,
button:focus-visible {
  /*outline: 4px auto -webkit-focus-ring-color;*/
}

p{
  margin-bottom: 0 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--app-color);
  }
}
