select {
    font-size: 14px !important;
}

.table-header{
    border: 1px solid #A9A9A9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
    padding: 10px;
    background-color: #EEEEEE;
}

.table-body {
    border: 1px solid #A9A9A9;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}


.accounts-receivable .row, .payment-mapping .row{
    margin: 0;
}

.table {
    display: flex;
    flex-direction: column;
    /*max-width: 700px;*/
}

.table-button {
    font-size: 0.9em;
    padding: 0;
    background-color: transparent;
    color: #ff6464;
}

.table-button i {
    color: #ff6464;
}