main > * {
    margin-bottom: 2em;
}

.instructions-container > *{
    margin-bottom: 10px;
}

header > p {
    font-size: 0.85em;
    font-weight: 400;
    color: grey;
}

header > h2 {
    margin-bottom: 10px;
}